@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#5a47ce, #232323 80%);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}

/* Scrollbar Utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.auth-btn-base {
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
    border: 1px solid transparent; 
    background-color: rgba(0, 0, 0, 0.5); 
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.auth-btn-base:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    border-color: white; 
}

.user-avatar-container {
    width: 48px; 
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.2); 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.user-avatar-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: white;
}