@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#5a47ce, #232323 80%);
}

body {
  margin: 0;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}

.auth-btn-base {
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    border: 1px solid transparent; 
    background-color: rgba(0, 0, 0, 0.3); 
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.auth-btn-base:hover {
    background-color: rgba(50, 50, 50, 0.7); 
    border-color: white; 
}

.user-avatar-container {
    width: 40px; 
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.user-avatar-container:hover {
    background-color: rgba(50, 50, 50, 0.7);
    border-color: white;
}